/* From Uiverse.io by UserNameSekhar */
.container {
  width: 100%;
  height: 100%;
  --s: 50px;
  --c1: #34495e;
  --c2: #e74c3c;
  --c3: #f1c40f;
  --c4: #2ecc71;

  background:
    linear-gradient(45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--c1) 75%),
    linear-gradient(-45deg, transparent 75%, var(--c1) 75%),
    linear-gradient(45deg, var(--c2) 25%, transparent 25%) 0 var(--s),
    linear-gradient(-45deg, var(--c2) 25%, transparent 25%) 0 var(--s),
    linear-gradient(45deg, transparent 75%, var(--c2) 75%) 0 var(--s),
    linear-gradient(-45deg, transparent 75%, var(--c2) 75%) 0 var(--s),
    linear-gradient(45deg, var(--c3) 25%, transparent 25%) var(--s) var(--s),
    linear-gradient(-45deg, var(--c3) 25%, transparent 25%) var(--s) var(--s),
    linear-gradient(45deg, transparent 75%, var(--c3) 75%) var(--s) var(--s),
    linear-gradient(-45deg, transparent 75%, var(--c3) 75%) var(--s) var(--s),
    linear-gradient(45deg, var(--c4) 25%, transparent 25%) var(--s) 0,
    linear-gradient(-45deg, var(--c4) 25%, transparent 25%) var(--s) 0,
    linear-gradient(45deg, transparent 75%, var(--c4) 75%) var(--s) 0,
    linear-gradient(-45deg, transparent 75%, var(--c4) 75%) var(--s) 0;

  background-size: calc(2 * var(--s)) calc(2 * var(--s));
  background-color: var(--c1);
}
